---
import { fetchPosts } from '../../lib/strapi';
import BlogLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const posts = await fetchPosts();

  return posts.map((post) => ({
    params: {
      category: post.category.slug,
      slug: post.slug,
    },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props;
---

<BlogLayout frontmatter={post}>
  <div>{post.content}</div>
</BlogLayout>
