---
import { fetchPosts } from '../../lib/strapi';
import BlogLayout from '../../layouts/BlogLayout.astro';

export async function getStaticPaths() {
  const posts = await fetchPosts('was-posts');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
const { post } = Astro.props;
---

<BlogLayout frontmatter={post}>
  <div>{post.content}</div>
</BlogLayout>
