---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostPreview from '../../components/PostPreview.astro';

import { fetchPosts, fetchTags } from '../../lib/strapi';
export async function getStaticPaths() {
  const tags = await fetchTags();

  return tags.map((tag) => ({
    params: {
      slug: tag.slug,
    },
    props: {
      tag,
    },
  }));
}

const { tag } = Astro.props;
const allPosts = await fetchPosts();

const tagPosts = allPosts.filter((post) =>
  post.tags?.some((t) => t.slug === tag.slug)
);
---

<BaseLayout pageTitle={tag.name + ' | The A11y Path'}>
  
  {
    tagPosts.length === 0 ? (
      <div>
        <h1 class="my-4 text-2xl">No posts found for <span class="italic dark:text-gold text-pink">#{tag.name}</span>.</h1>
        <p class="border-l-2 px-2 mx-3">That may change.</p>
      </div>
    ) : (
      <h1 class="my-4">Posts tagged with {tag.name}</h1>
      <ul>
        {tagPosts.map((post) => (
          
          <PostPreview post={post} category={post.category} />
        ))}
      </ul>
    )
  }
</BaseLayout>
