---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { fetchTags } from '../../lib/strapi';

const tags = await fetchTags();
---

<BaseLayout pageTitle={'All Tags | The A11y Path'}>
  <ul>
    {
      tags.map((tag) => (
        <li>
          <a href={`/tags/${tag.slug}`}>{tag.name}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
