---
import BaseLayout from '../layouts/BaseLayout.astro';
import { fetchHomeContent } from '../lib/strapi';
const home = await fetchHomeContent();
---

<BaseLayout>
  <section class="text-xl">
    <Fragment set:html={home.content} />
  </section>
</BaseLayout>
