---
import '../styles/global.css';
---

<div>
  <a href="#main">Skip Link</a>
</div>
<nav class="flex items-center flex-wrap gap-8">
  <ul class="flex items-center flex-wrap gap-3">
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/tags">Tags</a></li>
  </ul>
</nav>
